<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signature Collection</title>
    <link href="http://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="pusher">
    <div class="ui fixed menu">
        <div class="ui container">
            <a href="/" class="header item">SIG COLLE</a>
        </div>
    </div>

    <div class="full height image">
        <div class="ui main container">
            <div class="menu bar">
            </div>
            <div class="ui information container">
                <div class="ui three column grid">
                    <div class="column"></div>
                    <div class="column">
                        <h1 class="ui center aligned header">検索条件</h1>
                        <form class="ui form" method="post" action="/campaigns/search"
                              th:action="@{~/campaigns/search}">
                            <div class="field">
                                <input required type="title" maxlength='50' name="title" placeholder="キャンペーン名" th:value="(${search.title}!=null)?${search.title}"/>
                            </div>
                            <button class="ui fluid red button">検索</button>
                        </form>
                        <br>
                        <div th:each="campaign : ${results}">
                            <a class="campaigns" th:href="'/campaign/'+${campaign.id}" th:text="${campaign.title}">title</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
